# Auto detect text files and perform LF normalization
* text=auto
'C:/Users/teubanks/Desktop/UnityGames/Senior[[:space:]]Project/XGC[[:space:]]Senior[[:space:]]Project[[:space:]]2026/Assets/Toon[[:space:]]Adventure[[:space:]]Island' filter=lfs diff=lfs merge=lfs -text
2026/Assets/Toon filter=lfs diff=lfs merge=lfs -text
Adventure filter=lfs diff=lfs merge=lfs -text
Island/Textures/TAI_Atlas_1A_Source.psd' filter=lfs diff=lfs merge=lfs -text
'C:/Users/teubanks/Desktop/UnityGames/Senior filter=lfs diff=lfs merge=lfs -text
Project/XGC filter=lfs diff=lfs merge=lfs -text
Senior filter=lfs diff=lfs merge=lfs -text
Project filter=lfs diff=lfs merge=lfs -text
